<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gki.managerment">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Main"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Setting"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_setting"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".MainMenu"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_entry"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".DailyworkInput"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_dailywork_input"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".StaffInput"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_staff_input"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".StaffInputItem"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_staff_input_item"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".RulerTable"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_ruler_table"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".StatusFeedBack"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_status_feed_back"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".TestActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_test"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".ConditionConfirm"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_test"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".DailyScrap"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_test"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".DailyStopTime"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_test"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".DailyQuery"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_daily_query"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".ChangePassword"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".UploadImage"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <!--
     ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.gki.v107.activity.InspectionActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="检查确认"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.gki.v107.activity.PadMessageListActivity"
            android:label="@string/title_padmessage_list"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.gki.v107.activity.PadMessageDetailActivity"
            android:label="@string/title_padmessage_detail"
            android:parentActivityName="com.gki.v107.activity.PadMessageListActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gki.v107.activity.PadMessageListActivity" />
        </activity>
        <activity android:name="com.gki.v107.activity.BuildMessageActivity"
            android:theme="@style/Theme.AppCompat.Light"></activity>
    </application>

</manifest>